body {
    background-color: white;
  }
  * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
  }
  
  h1 {
    color: #164ea4;
    line-height: 70px;
  }
  
  h2 {
    color: white;
    line-height: 70px;
  }

  h3 {
    color: #164ea4;
    padding: 20px;
  }
  h1.whyprocess {
    color: white;
  }

  h1.realdevelopment {
    color: white;
  }
  
  body, 
  html {
    font-family: 'Epilogue', sans-serif;
    color: #164ea4;
    text-align: center;
  }
  .page-container {
    position: relative;
    min-height: 100vh;
  }
  .content-wrap {
    padding-bottom: 2.5rem;
  }
  footer {
    text-align: center;
    background-color: #164ea4;
    color: white;
    line-height: 100px;
    padding: 10px;
    width: fixed 500px;
  }
  
  .container {
    padding: 2em;
  }
  
  .top-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top-navigation-left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .top-navigation-left a {
    text-decoration: none;
    color: #164ea4;
  }
  .top-navigation-links {
    display: flex;
    gap: 2em;
  }
  .top-navigation-links {
    text-decoration: none;
    color: white;
    display: flex;
    gap: 1rem;
  }
  .top-navigation-right {
    display: flex;
    gap: 1em;
    align-items: center;
  }
  .top-navigation-right a {
    text-decoration: none;
    color: #164ea4;
  }
  .top-navigation-right button {
    border: 1px solid #164ea4;
    background-color: #164ea4;
    width: 150px;
    padding: 1em;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Epilogue', sans-serif;
    color: white;
  }
  * {
    box-sizing: border-box;
  }
  
  .all-columns {
    float: left;
    width: 25%;
    padding: 12px;
    min-height: 350px;
    border: 1px solid;
    text-align: center;
  }
  
  .all-rows::after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 768px) {
    .all-columns {
        width: 100%;
    }
  }
  fieldset {
   margin: 0px;
   padding: 40px;
   border-style: none;
  }
  legend {
    font-size: 30px;
    font-weight: bold;
    color:#164ea4;
    text-align: center;
    padding: 0px;
    padding-top: 50px;
    border: 0px solid #ccc;
  }
  
  form {
    padding: 10px;
    border: none;
    border-style: none;
    margin: 0px;
    background-color: white;
    color: #164ea4;
  }
  
  form input, form textarea {
    padding: 10px;
    margin: 10px;
    width: 50%;
    box-sizing: border-box;
    border: #164ea4;
    border-style: double;
  }
  select {
    margin: 10px;
  }
  
  form input[type="submit"] {
    padding: 10px;
    background-color: #164ea4;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 17px;
  }
  .contact-info {
    float: right;
    width: 40%;
    color: #164ea4;
    text-align: center;
    margin: 50px;
    padding: 50px;
    font-size: 20px;
  }



  .page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .page .column {
    padding: 20px;
    color: white;
    border-style: double;
  }
  .page .column img {
    border-radius: 50%;
  }
  .page .column button {
    /* styles for the button */
    background-color: #164ea4;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
  }

  #whyprocess {
    background-color: #164ea4;
    text-align: center;
    color: white;
    padding-top: 0px;
    padding: 10px;
    margin: 0px;
  }
  #whyprocess button {
    border: 1px solid white;
    background-color: white;
    width: 150px;
    padding: 1em;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Epilogue', sans-serif;
    color: #164ea4;
  }

  #processfamily {
    background-color: #bcbdc4;
  }

  #realdevelopment {
    background-color: #164ea4;
    text-align: center;
    color: white;
    padding-top: 0px;
    padding: 10px;
    margin: 0px;
  }
  #realdevelopment button {
    border: 1px solid white;
    background-color: white;
    width: 150px;
    padding: 1em;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Epilogue', sans-serif;
    color: #164ea4;
  }

  strong {
    color: #164ea4;
  }
